<!-- Applicated if the dark mode is active => mode = 'dark' -->
<tui-theme-night *ngIf="mode === 'dark'"></tui-theme-night>
<!-- mode Setting -->
<div class="theme-settings" [ngClass]="{ open: settingWidth }">
  <div class="color-settings">
    <!-- theme options -->
    <div class="theme-option">
      <ng-container *ngFor="let item of themes">
        <p
          class="tui-text_h6 theme-item"
          [ngClass]="{ activeTheme: selectedTheme === item }"
          (click)="onChangeTheme(item)"
        >
          {{ item }}
        </p>
      </ng-container>
    </div>

    <!-- color options -->
    <div class="color-options">
      <ng-container *ngFor="let item of colors">
        <div
          class="color-item"
          [ngStyle]="{ background: 'rgba(' + item + ' 1)' }"
          (click)="updateStyles(item)"
        >
          <i
            class="fa fa-check check-icon"
            [ngClass]="{ active: selectedColor === item }"
          ></i>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- toggle theme setting -->
  <div class="btn-setting">
    <button
      tuiButton
      appearance="icon"
      (click)="onOpenStyleSettings()"
      size="m"
      icon="tuiIconSettingsLarge"
      class="close-btn"
    ></button>
  </div>
</div>
<!-- main navbar in mobile view -->
<nav class="mobile-nav">
  <app-navbar (sideMenuOpened)="toggleSideMenu($event)"></app-navbar>
</nav>
<!-- page content -->
<div class="container">
  <div class="tui-row tui-row_adaptive landing-layout-wrapper">
    <!-- the side-bar in desktop view (left-side) -->
    <div class="tui-col_xs-12 tui-col_md-3 tui-col_lg-4 main-navigation">
      <app-side-menu></app-side-menu>
    </div>

    <!-- the navbar and content-page (right-side) -->
    <div class="tui-col_xs-12 tui-col_md-12 tui-col_lg-8 landing-layout">
      <div class="navbar">
        <app-navbar (sideMenuOpened)="toggleSideMenu($event)"></app-navbar>
      </div>
      <!-- the content depending on the route -->
      <div class="elements margin_top">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
