<nav class="side-menu">
  <tui-scrollbar class="scrollbar">
    <div class="header-wrapper">
      <div class="name-info">
        <p class="tui-text_h5 name-info-user">{{ user.name }}</p>
        <p class="tui-text_body-m name-info-positon">
          {{ user.position }}
        </p>
      </div>
    </div>

    <div class="img-wrapper">
      <img [src]="user.img" />
    </div>

    <ul class="info-wrapper">
      <span class="icon">
        <img class="img-fluid" src="../../../../assets/icon.png" />
      </span>
      <li>
        <p class="tui-text_body-m">
          <span class="info">Name : </span> {{ user.name }}
        </p>
      </li>
      <li>
        <p class="tui-text_body-m">
          <span class="info">Birthday : </span> {{ user.birthday }}
        </p>
      </li>
      <li>
        <p class="tui-text_body-m">
          <span class="info">Position : </span> {{ user.position }}
        </p>
      </li>
      <li>
        <p class="tui-text_body-m">
          <span class="info">Email : </span> <span>{{ user.email }}</span>
        </p>
      </li>
      <li>
        <p class="tui-text_body-m" *ngIf="user.military_service">
          <span class="info">Military Service : </span>
          {{ user.military_service }}
        </p>
      </li>
    </ul>
    <div class="tui-row tui-row_adaptive social-icon-wrapper">
      <a
        class="social-icon"
        *ngFor="let icon of user.socialMedia"
        tuiLink
        [attr.href]="icon?.link"
        target="_blank"
      >
        <i-bs
          [name]="icon.iconName"
          [width]="icon.iconSize"
          [height]="icon.iconSize"
        >
        </i-bs>
      </a>
    </div>
    <div class="download-wrapper" (click)="onDownload()">
      <p>Download CV</p>
      <i class="fa fa-download download-btn"></i>
    </div>
  </tui-scrollbar>
</nav>
