<div class="portfolio">
  <p class="tui-text_h5 header">
    {{ user.portfolio.name }}
  </p>
  <div class="tui-row tui-row_adaptive row-wrapper">
    <div
      *ngFor="let item of user.portfolio.items; let cardIndex = index"
      class="tui-col_xs-12 tui-col_md-5 tui-col_lg-5 card-wrapper"
    >
      <div class="card">
        <div class="img-wrapper">
          <img [src]="item.cover" />
        </div>
        <div class="overlay"></div>
      </div>
      <div class="card-info" #carouselContainer>
        <button
          tuiIconButton
          appearance="primary"
          icon="tuiIconAttach"
          shape="rounded"
          size="m"
          (click)="onClick(cardIndex)"
        ></button>
        <p class="tui-text_body-m">{{ item.name }}</p>
        <ng-template #header>
          <div
            class="carousel-header"
            [style.backgroundImage]="background"
          ></div>
        </ng-template>
        <ng-template
          [tuiDialogOptions]="{ size: 's', header: header }"
          [(tuiDialog)]="open"
        >
          <div
            tuiCarouselButtons
            (touchstart.passive.stop)="(0)"
            class="carousel-wrapper"
          >
            <button
              tuiIconButton
              icon="tuiIconChevronLeftLarge"
              class="left-arrow"
              (click)="
                navigate(-1, user.portfolio.items[itemIndex].content.length)
              "
              [disabled]="index === 0"
            ></button>
            <tui-carousel [(index)]="index" [draggable]="true">
              <ng-container
                *ngFor="
                  let carouselItem of user.portfolio.items[itemIndex].content;
                  let i = index
                "
              >
                <p class="carousel-p" *tuiItem>
                  {{ carouselItem.description }}
                </p>
              </ng-container>
            </tui-carousel>

            <button
              tuiIconButton
              icon="tuiIconChevronRightLarge"
              class="right-arrow"
              (click)="
                navigate(1, user.portfolio.items[itemIndex].content.length)
              "
            ></button>
          </div>
          <tui-pagination
            size="s"
            class="pagination-items"
            [length]="user.portfolio.items[itemIndex].content.length"
            [(index)]="index"
          ></tui-pagination>
        </ng-template>
      </div>
    </div>
  </div>
</div>
