<div class="clients">
  <p class="tui-text_h5 header">
    {{ user.testimonials.clients.name }}
  </p>
  <div class="tui-row tui-row_adaptive row-wrapper">
    <div
      *ngFor="let item of user.testimonials.clients.content"
      class="tui-col_xs-11 tui-col_md-6 tui-col_lg-3 card"
    >
      <div class="img-wrapper">
        <img [src]="item" />
      </div>
    </div>
  </div>
</div>
<div class="testimonials-data" #carouselContainer>
  <p class="tui-text_h5 header">
    {{ user.testimonials.testimonialData.name }}
  </p>
  <div>
    <tui-carousel
      class="carousel-wrapper"
      [draggable]="true"
      [itemsCount]="carouselContainer.offsetWidth <= 650 ? 1 : 1"
      [(index)]="index"
    >
      <ng-container
        *ngFor="
          let item of user.testimonials.testimonialData.content;
          let i = index
        "
      >
        <div
          *tuiItem
          draggable="false"
          class="testimonial-card"
          [ngClass]="{ item_active: i === index + 1 }"
        >
          <img [src]="item" class="item" />
        </div>
      </ng-container>
    </tui-carousel>
    <tui-pagination
      size="s"
      class="pagination"
      [length]="user.testimonials.testimonialData.content.length"
      [(index)]="index"
    ></tui-pagination>
  </div>
</div>
